@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  font-family: 'Alegreya Sans', 'Verdana', sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, li {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

img {
  display: block;
  max-width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

.hero {
  height: 100vh;
  min-height: 652px;
  color: #fff;
  background: url("../../img/decor/large-leaf.png") right bottom no-repeat, #61c4d9;
  position: relative; }
  .hero::before {
    content: url("../../img/decor/leaf-decor.png");
    position: absolute;
    bottom: -60px;
    left: 2%; }
  .hero::after {
    content: url("../../img/decor/berries-and-leaves.png");
    position: absolute;
    bottom: -55px;
    right: 2%; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("../../img/decor/chocco-bars.png") right center/54% auto no-repeat; }

.hero__text {
  margin: 60px 0;
  width: 40%; }

.hero__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 6px;
  text-transform: uppercase; }

.hero__subtitle {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 30px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.phone-number__link {
  font-size: 24px;
  display: flex;
  align-items: center; }

.phone-number__icon-pic {
  width: 14px;
  height: 14px;
  margin-right: 6px; }

.menu__list {
  display: flex;
  align-items: center; }

.menu__item {
  margin-right: 27px; }
  .menu__item:last-child {
    margin-right: 0; }

.highlights {
  display: flex; }

.highlights__item {
  margin-right: 46px; }
  .highlights__item:last-child {
    margin-right: 0; }

.highlight {
  display: flex;
  width: 128px; }
  .highlight__icon {
    height: 45px;
    width: 45px;
    margin-right: 12px; }
  .highlight__text {
    font-size: 16px;
    line-height: 1.2;
    padding-right: 10px;
    max-width: 85px; }

.btn {
  padding: 21px 35px;
  border-radius: 100px;
  font-size: 19px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .btn--bg--white {
    color: #365A49;
    background: #FFF; }
    .btn--bg--white:hover {
      background: #365A49;
      border-color: #365A49;
      color: #FFF; }
  .btn--bg--green {
    background: #365A49;
    border-color: #365A49;
    color: #FFF; }
    .btn--bg--green:hover {
      color: #365A49;
      background: #FFF; }
  .btn--bg--transparent {
    background: transparent;
    color: #000;
    font-weight: 400;
    text-transform: none; }
    .btn--bg--transparent:hover {
      color: #497870; }

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section--font-color--green {
    color: #365A49; }

.section__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 32px; }

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  text-align: center; }

.headline__title {
  margin-bottom: 9px; }

.headline__title-text {
  width: 48%;
  line-height: 1.2; }

.benefits {
  position: relative;
  background: url("../../img/decor/leaf-grey.png") left top 57% no-repeat; }
  .benefits::before {
    content: url("../../img/decor/raspberry.png");
    position: absolute;
    bottom: -116px;
    left: 0; }

.benefits__list {
  display: flex;
  justify-content: space-between; }

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child::before {
      display: none; }
  .benefits__item::before {
    content: url("../../img/decor/separator.png");
    position: absolute;
    top: 20%;
    right: 0;
    transform: translateX(50%); }

.benefit {
  text-align: center; }

.benefit__icon-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #F2F5F4;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px; }

.benefit__icon-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%); }

.benefit__title {
  font-size: 27px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 12px; }

.benefit__desc p {
  font-weight: 300;
  line-height: 1.2; }

.review {
  display: flex;
  background: url("../../img/decor/berries-drawing.png") right top 5% no-repeat, #F8FAF9;
  padding: 50px 45px 34px;
  margin-bottom: 22px;
  position: relative;
  overflow: hidden; }
  .review::before {
    display: block;
    content: "";
    position: absolute;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    left: calc(50% - 45px);
    top: -58px;
    background-color: #fff; }

.review__photo {
  width: 254px;
  height: 260px;
  overflow: hidden;
  margin-right: 40px; }
  .review__photo-pic {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.review__content {
  width: 52%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.review__title {
  font-size: 27px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 12px; }

.review__text {
  line-height: 1.2;
  margin-bottom: 25px; }

.review__author {
  font-weight: 500;
  color: #292929; }

.reviews-section {
  background: url("../../img/decor/strawberry.png") right 4% top 8% no-repeat;
  position: relative; }
  .reviews-section::before {
    content: url("../../img/decor/leaf-grey-2.png");
    position: absolute;
    left: 0;
    bottom: -166px; }
  .reviews-section::after {
    content: url("../../img/decor/berries.png");
    position: absolute;
    left: 0;
    bottom: -90px; }

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center; }

.reviews__switch {
  display: flex; }

.reviews__switch-item {
  margin-right: 6px; }
  .reviews__switch-item:last-child {
    margin-right: 0; }

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
  position: relative; }
  .interactive-avatar--active {
    border-color: #365A49; }

.interactive-avatar__link {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.interactive-avatar__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.delivery-section {
  background: url("../../img/bg/berries-pattern.png") left top repeat;
  position: relative; }
  .delivery-section::before {
    content: url("../../img/decor/blueberry.png");
    position: absolute;
    left: 5%;
    bottom: 10%; }
  .delivery-section::after {
    content: url("../../img/decor/leaf.png");
    position: absolute;
    right: 5%;
    bottom: 10%; }

.delivery-section__title {
  color: #365A49;
  margin-bottom: 42px; }

.form {
  display: flex; }

.form__col, .form__block {
  flex: 1;
  margin-right: 20px; }
  .form__col:last-child, .form__block:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 14px; }

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border-radius: 4px;
  border: 3px solid transparent; }
  .form__input--textarea {
    resize: none;
    height: 180px; }
  .form__input:focus {
    border-color: #DEE2BD;
    outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 23px; }
  .radio:last-child {
    margin-right: 0; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }
    .radio--checkbox .radio__visible::before {
      background: url("../../img/icons/checkmark.svg"); }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #FFF;
  margin-right: 10px; }
  .radio__visible::before {
    display: none;
    content: "";
    width: 14px;
    height: 14px;
    background: #365A49;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
