$containerWidth: 940px;
$baseFontSize: 18px;

//colors

$lightBlue: #61c4d9;
$darkGreen: #365A49;
$green: #497870;

//z-indexes

$z-section-decor: 10;
$z-fixed-menu: 100;

//breakpoints

$tablet: 768px;
$mobile: 480px;


@mixin center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// //functions

// @function pxToRem($pxValue: $baseFontSize) {
// 	//font-size: $sizeValue + px;
//     $remValue: round(($pxValue / $baseFontSize)/0.01)*0.01 + 0rem;
//     @return $remValue;
// }

@import "./components/media";

// normalize.css
@import "./normalize.css";


// setup
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

@import "./layout";

// components

@import "./components/hero";
@import "./components/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/phone-number";
@import "./components/hamburger";
@import "./components/highlights";
@import "./components/highlight";
@import "./components/button";
@import "./components/section";
@import "./components/headline";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/review";
@import "./components/reviews";
@import "./components/interactive-avatar";
@import "./components/delivery";
@import "./components/form";
@import "./components/radio";
@import "./components/fixed-menu";

@import "./components/contacts";
@import "./components/map";
@import "./components/footer";
@import "./components/address";
@import "./components/socials";
@import "./components/social";
@import "./components/fullscreen-menu";