$containerWidth: 940px;
$baseFontSize: 18px;

//colors

$lightBlue: #61c4d9;
$darkGreen: #365A49;

//z-indexes

$z-section-decor: 10;
$z-fixed-menu: 100;


// normalize.css
@import "./normalize.css";


// setup
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

@import "./layout";

// components

@import "./components/hero";
@import "./components/header";
@import "./components/menu";
@import "./components/highlights";
@import "./components/highlight";
@import "./components/button";
@import "./components/section";
@import "./components/headline";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/review";
@import "./components/reviews";
@import "./components/interactive-avatar";
@import "./components/delivery";
@import "./components/form";
@import "./components/radio";
@import "./components/fixed-menu";