.delivery-section {
  background: url('./img/bg/berries-pattern.png') left top repeat;
  position: relative;

  @include tablets {
    &::before, &::after {
      display: none;
    }
  }

  &::before {
    content: "";
    background-image: url("./img/decor/blueberry.png");
    background-size: pxToRem(47px) pxToRem(48px);
    width: pxToRem(47px);
    height: pxToRem(48px);
    object-fit: cover;
    position: absolute;
    left: 5%;
    bottom: 10%;

    @include retina {
      background-image: url("./img/decor/blueberry2x.png");
    }
  }

  &::after {
    content: "";
    background-image: url("./img/decor/leaf.png");
    background-size: pxToRem(135px) pxToRem(188px);
    width: pxToRem(135px);
    height: pxToRem(188px);
    object-fit: cover;
    position: absolute;
    right: 5%;
    bottom: 10%;

    @include retina {
      background-image: url("./img/decor/leafx2.png");
    }
  }
}

.delivery-section__title {
  color: #365A49;
  margin-bottom: pxToRem(42px);
}
