.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: pxToRem(23px);
  margin-bottom: pxToRem(10px);

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url("./img/icons/checkmark.svg");
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: pxToRem(26px);
  height: pxToRem(26px);
  position: relative;
  border-radius: 50%;
  background: #FFF;
  margin-right: pxToRem(10px);

  &::before {
    display: none;
    content:"";
    width: pxToRem(14px);
    height: pxToRem(14px);
    background: #365A49;
    border-radius: 50%;
    @include center-absolute;
  }
}