.socials__list {
  display: flex;
}

.socials__item {
  margin-right: pxToRem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__item .social__link {
  display: block;
  width: 20px;
  height: 20px;
}



