.team-section {
  position: relative;

  &::after {
    content: "";
    background-image: url("./img/decor/raspberry__team.png");
    background-size: pxToRem(104px) pxToRem(114px);
    width: pxToRem(104px);
    height: pxToRem(114px);
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: pxToRem(-65px);
}
}

.team__list {
  display: flex;
  

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

