.benefit {
  text-align: center;
}

.benefit__icon-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #F2F5F4;
  overflow: hidden;
  position: relative;
  margin-bottom: px-to-rem(20);
}

.benefit__icon-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: px-to-rem(27);
  font-weight: 700;
  color: #292929;
  margin-bottom: px-to-rem(12);
}

.benefit__desc p {
  font-weight: 300;
  line-height: 1.2;
}