.benefits {
  position: relative;
  background-image: url("../img/decor/leaf-grey.png");
  background-size: 191px 314px;
  background-position: left top 57%; 
  background-repeat: no-repeat;
  &::before {
    content: "";
    background-image: url("../img/decor/raspberry.png");
    background-size: 161px 315px;
    width: 161px;
    height: 315px;
    object-fit: cover;
    position: absolute;
    bottom: px-to-rem(-116);
    left: 0;
  }
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
  
  &::before {
    content: url("../img/decor/separator.png");
    position: absolute;
    top: 20%;
    right: 0;
    transform: translateX(50%);
  }
}

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .benefits {
      background-image: url("../img/decor/leaf-greyx2.png");

      &::before {
        background-image: url("../img/decor/raspberry2x.png");
      }
  }
}
