.btn {
  padding: px-to-rem(21) px-to-rem(35);
  border-radius: px-to-rem(100);
  font-size: px-to-rem(19);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--bg--white {
    color: $darkGreen;
    background: #FFF;
    &:hover {
      background: $darkGreen;
      border-color: $darkGreen;
      color: #FFF;
    }
  }

  &--bg--green {
    background: $darkGreen;
    border-color: $darkGreen;
    color: #FFF;
    &:hover {
      color: $darkGreen;
      background: #FFF;
    }
  }

  &--bg--transparent {
    background: transparent;
    color: #000;
    font-weight: 400;
    text-transform: none;

    &:hover {
      color: #497870;
    }
  }
}

