.btn {
  padding: pxToRem(24px) pxToRem(41px);
  border-radius: pxToRem(100px);
  font-size: pxToRem(16px);
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--bg--white {
    color: $darkGreen;
    background: #FFF;
    &:hover {
      background: $darkGreen;
      border-color: $darkGreen;
      color: #FFF;
    }
  }

  &--bg--green {
    background: $darkGreen;
    border-color: $darkGreen;
    color: #FFF;
    &:hover {
      color: $darkGreen;
      background: #FFF;
    }
  }

  &--bg--transparent {
    background: transparent;
    color: #000;
    font-weight: 400;
    text-transform: none;

    &:hover {
      color: #497870;
    }
  }
}

