.fixed-menu {
  position: fixed;
  top: 22%;
  right: 3%;
  z-index: $z-fixed-menu;
  
  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: pxToRem(5px);

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    .fixed-menu__link{
    border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: pxToRem(16px);
  height: pxToRem(16px);
  border-radius: 50%;
  border: pxToRem(1px) solid transparent;
  display: block;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: pxToRem(6px);
    height: pxToRem(6px);
    border-radius: 50%;
    background-color: #fff;
    @include center-absolute;
  }
}