.form {
  display: flex;
}

.form__col, .form__block {
  flex: 1;
  margin-right: px-to-rem(20);

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: px-to-rem(14);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: px-to-rem(18) px-to-rem(11);
  border-radius: 4px;
  border: 3px solid transparent;

  &--textarea {
    resize: none;
    height: px-to-rem(180);
  }

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: px-to-rem(24);
}

