.hero {
  height: 100vh;
  min-height: px-to-rem(652);
  color: #fff;
  background: url("../img/decor/large-leaf.png") right bottom no-repeat, $lightBlue;
  position: relative;

  &::before {
    content: url("../img/decor/leaf-decor.png");
    position: absolute;
    bottom: px-to-rem(-60);
    left: 2%;
  }

  &::after {
    content: url("../img/decor/berries-and-leaves.png");
    position: absolute;
    bottom: px-to-rem(-55);
    right: 2%;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: px-to-rem(24) 0 px-to-rem(50);
  background: url("../img/decor/chocco-bars.png") right center/ 54% auto no-repeat
}

.hero__text {
  margin: px-to-rem(60) 0;
  width: 40%;
}


.hero__title {
  font-size: px-to-rem(48);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: px-to-rem(6);
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: px-to-rem(21);
  line-height: 1.2;
  margin-bottom: px-to-rem(30);
}