.highlight {
  display: flex;
  width: px-to-rem(128);

  &__icon {
    height: 45px;
    width: 45px;
    margin-right: px-to-rem(12);
  }

  &__text {
    font-size: px-to-rem(16);
    line-height: 1.2;
    padding-right: px-to-rem(10);
    max-width: px-to-rem(85);
  }
}