.highlight {
  display: flex;
  width: 128px;

  &__icon {
    height: 45px;
    width: 45px;
    margin-right: 12px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;
    padding-right: 10px;
    max-width: 85px;
  }
}