.highlight {
  display: flex;
  width: pxToRem(128px);

  &__icon {
    fill: #c6f7ff;
    height: pxToRem(45px);
    width: pxToRem(45px);
    margin-right: pxToRem(12px);
  }

  &__text {
    font-size: pxToRem(16px);
    line-height: 1.2;
    padding-right: pxToRem(10px);
    max-width: pxToRem(85px);
  }
}