.reviews-section {
  background-image: url("../img/decor/strawberry.png");
  background-size: pxToRem(136px) pxToRem(78px);
  background-position: right 4% top 8%;
  background-repeat: no-repeat;
  position: relative;

  @include retina {
    background-image: url("../img/decor/strawberry2x.png");
  }

  &::before {
    content: "";
      background-image: url("../img/decor/leaf-grey-2.png");
      background-size: pxToRem(102px) pxToRem(321px);
      width: pxToRem(102px);
      height: pxToRem(321px);
      object-fit: cover;
      position: absolute;
      left: 0;
      bottom: pxToRem(-166px);

      @include retina {
        background-image: url("../img/decor/leaf-grey-2x2.png");
      }
  }

  &::after {
    content: "";
    background-image: url("../img/decor/berries.png");
    background-size: pxToRem(135px) pxToRem(193px);
    width: pxToRem(135px);
    height: pxToRem(193px);
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: pxToRem(-90px);

    @include retina {
      background-image: url("../img/decor/berries2x.png");
    }
  }

}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__switch {
  display: flex;
}

.reviews__switch-item {
  margin-right: pxToRem(6px);

  &:last-child {
    margin-right: 0;
  }
}
