.review {
  display: flex;
  background-image: url("../img/decor/berries-drawing.png");
  background-size: pxToRem(127px) pxToRem(167px); 
  background-position: right top 5%; 
  background-repeat: no-repeat;
  background-color: #F8FAF9;
  padding: pxToRem(50px) pxToRem(45px) pxToRem(34px);
  margin-bottom: pxToRem(22px);
  position: relative;
  overflow: hidden;

  @include retina {
    background-image: url("../img/decor/berries-drawing2x.png");
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: pxToRem(50px) pxToRem(24px) pxToRem(34px);
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: pxToRem(83px);
    height: pxToRem(83px);
    border-radius: 50%;
    left: calc(50% - 45px);
    top: pxToRem(-58px);
    background-color:#fff;
  }
}

.review__photo {
  width: pxToRem(254px);
  height: pxToRem(260px);
  overflow: hidden;
  margin-right: pxToRem(40px);

  @include tablets {
    width: pxToRem(130px);
    height: pxToRem(130px);
    margin-right: 0;
    margin-bottom: pxToRem(32px);
  }

  &-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.review__content {
  width: 62%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 100%;
    padding-right: 0;
  }
}

.review__title {
  font-size: pxToRem(27px);
  font-weight: 700;
  color: #292929;
  margin-bottom: pxToRem(12px);
}

.review__text {
  line-height: 1.2;
  margin-bottom: pxToRem(25px);
}

.review__author {
  font-weight: 500;
  color: #292929;
}

