.reviews-section {
  background-image: url("../img/decor/strawberry.png");
  background-size: 136px 78px;
  background-position: right 4% top 8%;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
      background-image: url("../img/decor/leaf-grey-2.png");
      background-size: 102px 321px;
      width: 102px;
      height: 321px;
      object-fit: cover;
      position: absolute;
      left: 0;
      bottom: px-to-rem(-166);
  }

  &::after {
    content: url("../img/decor/berries.png");
    background-size: 135px 193px;
    width: 135px;
    height: 193px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: px-to-rem(-90);
  }

}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__switch {
  display: flex;
}

.reviews__switch-item {
  margin-right: px-to-rem(6);

  &:last-child {
    margin-right: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .reviews-section {
    background-image: url("../img/decor/strawberry2x.png");

    &::before {
      background-image: url("../img/decor/leaf-grey-2x2.png");
    }

    &::after {
      background-image: url("../img/decor/berries2x.png");
  }
}
}