
.slider__display {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-left: 26px;

  // @include tablets {
  //   align-items: stretch;
  // }
}

.slider__list, .slider__item {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
}

.slider__list {
  justify-content: center;
  align-items: center;
  position: absolute;
  transition-delay: 0.2s;
}

.slider__item {
  padding: pxToRem(36px);
  transition: opacity 0.2s;

  @include tablets {
    flex-direction: column;
  }
}

.slider__arrow {
  position: absolute;
  top: 50%;

  &-icon {
    width: 14px;
    height: 27px;
  }

  &--left {
    transform: rotate(180deg);
  }

  &--right {
    right: 0;
  }

}