.hero__text {
  margin-bottom: 64px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 32px;
}